@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.fondoContainer {
    width: 100%;
    background-color: #ffe6a4;
}

.fondo {
    width: 100%;
    object-fit:fill;
}

.navBar {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4c2b2f;
}

.navBar ul {
    display: flex;
    gap: 32px;
    list-style-type: none;
    padding: 0px;
}

.navButton {
    list-style: none;
    text-decoration: none;
    color: #ffe6a4;
    font-size: 18px;
    font-weight: bold;
}

.navButton:hover {
    color: #f55c52;
}

.infoSection {
    background-color: #ffe6a4;
    padding: 32px 64px 32px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.infoSection > h1 {
    margin-top: 0px;
}

.infoCard {
    background-color: #7c3343;
    color: beige;
    padding: 24px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modaImg {
    width: 60%;
    border-radius: 24px;
}

.infoHorizontal {
    display: flex;
}

.title {
    background-color: #f55c52;
    color: #ffe6a4;
    font-size: 24px;
    border-radius: 24px;
    padding: 24px;
}

footer {
    padding: 32px 64px 32px 64px;
    display: flex;
    background-color: #4c2b2f;
    color: #ffe6a4;
    justify-content: space-between;
}

@media only screen and (max-width: 769px) {
    .modaImg {
        width: 100%;
    }

    .navButton {
        font-size: 14px;
    }

    footer h2 {
        font-size: 12px;
    }
  }